{% extends "base.html" %}

{% block content %}

<div class="program">
  <form class="form" role="form" action="{{ url_for('main.program') }}" method="post">
    {{form.hidden_tag()}}
  <div class="program_set">
    <div class="program_conditions">
      <div class="program_conditions-header">
        <div class="conditions">Conditions</div>
        <div class="variables">Variables</div>
      </div>

      <div class="variables-row">
        <div class="variables-input">
          <label class="input-label" for="input">Some conditions</label>
          {% if form.checkbox1.data %}
          {{form.value1(class='input', type='number', readonly=True)}}
          {% else %}
          {{form.value1(class='input', type='number')}}
          {% endif %}
        </div>
        <div class="button b2" id="button-16">
          {{form.checkbox1(class='checkbox', type='checkbox')}}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>

      <div class="variables-row">
        <div class="variables-input">
          <label class="input-label" for="input">Some conditions</label>
          {{form.value2(class='input', type='number')}}
        </div>
        <div class="button b2" id="button-16">
          {{form.checkbox2(class='checkbox', type='checkbox')}}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>

      <div class="variables-row">
        <div class="variables-input">
          <label class="input-label" for="input">Some conditions</label>
          {{form.value3(class='input', type='number')}}
        </div>

        <div class="button b2" id="button-16">
          {{form.checkbox3(class='checkbox', type='checkbox')}}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>

      </div>

      <div class="variables-row">
        <div class="variables-input">
          <label class="input-label" for="input">Some conditions</label>
          {{form.value4(class='input', type='number')}}
        </div>

        <div class="button b2" id="button-16">
          {{form.checkbox4(class='checkbox', type='checkbox')}}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>

      </div>

      <div class="variables-row">
        <div class="variables-input">
          <label class="input-label" for="input">Some conditions</label>
          {{form.value5(class='input', type='number')}}
        </div>

        <div class="button b2" id="button-16">
          {{form.checkbox5(class='checkbox', type='checkbox')}}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>

      </div>

      <div class="variables-row">
        <div class="variables-input">
          <label class="input-label" for="input">Some conditions</label>
          {{form.value6(class='input', type='number')}}
        </div>

        <div class="button b2" id="button-16">
          {{form.checkbox6(class='checkbox', type='checkbox')}}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>

      </div>

      <div class="variables-row">
        <div class="variables-input">
          <label class="input-label" for="input">Some conditions</label>
          {{form.value7(class='input', type='number')}}
        </div>

        <div class="button b2" id="button-16">
          {{form.checkbox7(class='checkbox', type='checkbox')}}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>

      </div>

      <div class="variables-row">
        <div class="variables-input">
          <label class="input-label" for="input">Some conditions</label>
          {{form.value8(class='input', type='number')}}
        </div>

        <div class="button b2" id="button-16">
          {{form.checkbox8(class='checkbox', type='checkbox')}}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>

      </div>

    </div>
    <div class="program_timers">
      <div class="timer_start">
        <div class="timer_start-head">Start Timer</div>
        <div class="timer_start-inputs">
          <!-- <input type="time" class="timer_start-input"> -->

            <div class="form-group">
              {{form.launch_time(class='form-control', type='time')}}
            </div>
            <!-- <div class="log-btn">{{form.submit(class='btn-submit')}}</div> -->

        </div>
      </div>

      <div class="timer_status">
        <div class="timer_status-head">
          Run Status
        </div>
        <div class="timer_status-text">
          {% if status == True %}
          Running
          {% else %}
          Down
          {% endif %}
          </div>
      </div>

      <div class="timer_update">
        <div class="timer_update-head">
          Last Update
        </div>
        <div class="timer_update-text">
          9:50 PM
        </div>
      </div>
    </div>
  </div>

  <div class="program_buttons-set">
    <!-- <button class="program_start">Start</button> -->
    <div>{{form.submit(class='program_start')}}</div>
    <button class="program_manual">Manual Run</button>
  </div>
</form>
</div>
{% endblock %}